<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Increase Your Product Range</h2>
        <h3 class="oe_slogan">Creates a new boolean to enable area based products and calculates product prices based on their area</h3>
        <br/>
        <ul>
            <li><h4>Creates a new boolean to enable area based products and adds measurement fields to products in sale orders.</h4></li>
            <li><h4>Calculates product unit prices based on their area.</h4></li>
        </ul>
        <br/>
        <div class="oe_span12">
            <div class="oe_demo">
                <img src="demo.gif" alt="Module usage example">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_mt16 oe_mb16">

        <h2 class="oe_slogan">Need Help?</h2>
        <div class="oe_span12">
            <p class="oe_mt32">If you need any help regarding this module, customization or any other subject, please, feel free to contact us.</p>
        </div>
    </div>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" style="color: #000000 !important;" href="https://www.arxi.pt/#contact"> Contact Us </a>
    </div>
</section>
