.youtube-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 91%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.youtube-overlay2 {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 10;
  right: 0;
  height: 4%;
  width: 8%;
  transition: .5s ease;
}
.youtube-overlay3 {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 10;
  right: 0;
  height: 7%;
  width: 14%;
  transition: .5s ease;
}
