/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.wpd-av-overlay {
	background: rgba(0,0,0,0.9);
	box-sizing: border-box;
	cursor: wait;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99998;
}

.wpd-av {

	background: #FFF;
    border-radius: 0px;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, .5);

}

.wpd-av h2 {
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 36px;
	margin: 0 0 12px 0;
	padding-bottom: 12px;
    color: white;
}

.wpd-av img {
	margin-bottom: 12px;
}

.wpd-av p {
	box-sizing: border-box;
	margin: 0;
	color: #959595;
	line-height: 20px;
}

.wpd-av p:last-child {
    margin-bottom: 0;
}

.wpd-av p strong {
	color:#FF1F1F;
}

.wpd-av button {
	background: #DDD;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 0;
	margin-left: 1%;
	margin-top: 12px;
	padding: 6px 10px 6px 10px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 49%;
}

.wpd-av button:hover {
	background: #DADADA;
	box-sizing: border-box;
	border: 1px solid transparent;
}

.wpd-av button.yes {
	background: #8EB908;
	margin-left: 0;
	margin-right: 1%;
}

.wpd-av a.yes {
	background: #8EB908;
	margin-left: 0;
	margin-right: 1%;
}

.wpd-av a.yes:hover {
	background: #82A711;
	box-sizing: border-box;
}

.wpd-av button.yes:hover {
	background: #82A711;
	box-sizing: border-box;
}

.wpd-av .errors  {
	box-sizing: border-box;
	color: #FF1F1F;
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 20px 0;
}

.wpd-av .errors ul,
.wpd-av .errors li {
	box-sizing: border-box;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 3px 0;
}

.wpd-av .errors li span {
	background: #EBEBEB;
	box-sizing: border-box;
	border: 1px solid #CCC;
	border-radius: 7px;
	color: #FF1F1F;
	display: inline-block;
	font-size: 9px;
	font-weight: bold;
	height: 14px;
	line-height: 13px;
	margin-right: 5px;
	position: relative;
	top: -2px;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
	width: 14px;
}

.wpd-av .fields {
	box-sizing: border-box;
	clear: both;
	margin: 10px 0 10px 0;
}
@media( max-width: 640px ){
    position: relative;
      width: 100%;
	}

@media (max-width: 500px) {
	.wpd-av {
		box-sizing: border-box;
		width: 100%;
	}

	.wpd-av img {
		max-width: 100%;
		max-height: 200px;
	}

	.wpd-av button {
		box-sizing: border-box;
		display: block;
		width: 100%;
	}

	.wpd-av button.no,
	.wpd-av button.yes {
		margin-left: 0;
		margin-right: 0;
	}

}
