<!-- HERO -->
<div class="container">
    <div class="row" style="padding: 4rem 2.5rem 0 !important; background-color: #fff !important;">
        <div class="col-lg-12 d-flex flex-column align-items-center">
            <h1 class="text-center text-uppercase"
                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bolder !important; font-size: 2.5rem !important; color: #212121;">
                e-learning private youtube video
            </h1>

        </div>
<!--        <div class="col-lg-12 d-flex justify-content-center align-items-center" style="margin: 2rem 0;">-->
<!--            <img src="banner.png" width="100%" height="auto" class="img-responsive">-->
<!--        </div>-->
    </div>
</div>

<div class="container">
    <div class="row" style="padding: 0rem 2.5rem !important; background-color: #fff !important;">
        <div class="col-lg-12 d-flex flex-column justify-content-center">
            <p class="my-1 text-center"
               style="font-family: Montserrat, 'sans-serif' !important; color: #212121 !important;">
                This module allows you to view youtube videos privately.
            </p>
        </div>
    </div>
</div>

<!-- FEATURE -->
<div class="container" style="margin-top: 3rem;">
    <div class="row">
        <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
            <hr class="position-absolute"
                style="border: 1px solid #c4c6cc !important; width: 40% !important; z-index: 0 !important;">
            <h2 style="font-weight: 300 !important; background-color: #fff !important; z-index: 1 !important; padding: 0 1rem !important;">
                Features</h2>
        </div>
    </div>

    <div class="container" style="margin-top: 3rem;">
        <div class="row shadow"
             style="margin: 2rem; padding: 0rem !important; background-color: #fff !important; border-top:  3px solid #556EE6 !important; min-width: 100% !important;">
            <div class="col-lg-12" style="padding-left: 0 !important; padding-right: 0!important;">
                <img src="Screenshot 2021-09-04 at 12.04.16 PM.png" width="100%" height="auto" class="img-responsive">
            </div>
            <br/><br/>

        </div>
    </div>
    <!-- RESPONSIVE -->

    <!-- OUR SERVICES -->
    <section class="container" style="margin-top: 6rem !important;">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center mb-4">
                <hr class="position-absolute"
                    style="border: 1px solid #c4c6cc !important; width: 40% !important; z-index: 0 !important;">
                <h2 style="font-weight: 300 !important; background-color: #fff !important; z-index: 1 !important; padding: 0 1rem !important;">
                    Our Services</h2>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                     style="background-color: #1dd1a1 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/cogs.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Customization</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                     style="background-color: #ff6b6b !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/wrench.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Implementation</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                     style="background-color: #6462CD !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/lifebuoy.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Support</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                     style="background-color: #ffa801 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/user.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Hire
                    Odoo
                    Developer</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                     style="background-color: #54a0ff  !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/puzzle.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Integration</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                     style="background-color: #6d7680 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/update.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Migration</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                     style="background-color: #786fa6 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/consultation.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Consultancy</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                     style="background-color: #f8a5c2 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/training.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Implementation</h6>
            </div>

            <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
                <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                     style="background-color: #e6be26 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                    <img src="assets/icons/license.png" class="img-responsive" height="48px" width="48px">
                </div>
                <h6 class="text-center" style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                    Odoo
                    Licensing Consultancy</h6>
            </div>
        </div>
    </section>
    <!-- END OF END OF OUR SERVICES -->

    <!-- OUR INDUSTRIES -->
    <section class="container" style="margin-top: 6rem !important; background-color: #fff !important;">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center mb-4">
                <hr class="position-absolute"
                    style="border: 1px solid #c4c6cc !important; width: 40% !important; z-index: 0 !important;">
                <h2 style="font-weight: 300 !important; background-color: #fff !important; z-index: 1 !important; padding: 0 1rem !important;">
                    Our Industries</h2>
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                     style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/trading-black.png" class="img-responsive mb-3" height="48px" width="48px">
                    <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Trading
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">Easily
                        procure
                        and
                        sell your products</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                     style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/pos-black.png" class="img-responsive mb-3" height="48px" width="48px">
                    <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        POS
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">Easy
                        configuration
                        and convivial experience</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                     style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/education-black.png" class="img-responsive mb-3" height="48px"
                         width="48px">
                    <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Education
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">A
                        platform for
                        educational management</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                     style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/manufacturing-black.png" class="img-responsive mb-3" height="48px"
                         width="48px">
                    <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Manufacturing
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">Plan,
                        track and
                        schedule your operations</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                     style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/ecom-black.png" class="img-responsive mb-3" height="48px" width="48px">
                    <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        E-commerce &amp; Website
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">Mobile
                        friendly,
                        awe-inspiring product pages</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                     style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/service-black.png" class="img-responsive mb-3" height="48px" width="48px">
                    <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Service Management
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">Keep
                        track of
                        services and invoice</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                     style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/restaurant-black.png" class="img-responsive mb-3" height="48px"
                         width="48px">
                    <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Restaurant
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">Run
                        your bar or
                        restaurant methodically</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="my-4 d-flex flex-column justify-content-center"
                     style="background-color: #f6f8f9 !important; border-radius: 10px; padding: 2rem !important; height: 250px !important;">
                    <img src="./assets/icons/hotel-black.png" class="img-responsive mb-3" height="48px" width="48px">
                    <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                        Hotel Management
                    </h5>
                    <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">An
                        all-inclusive
                        hotel management application</p>
                </div>
            </div>
        </div>
    </section>

    <!-- END OF END OF OUR INDUSTRIES -->

    <!-- FOOTER -->
    <!-- Footer Section -->
    <section class="container" style="margin: 5rem auto 2rem; background-color: #fff !important;">
        <div class="row" style="max-width:1540px;">
            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center mb-4">
                <hr class="position-absolute"
                    style="border: 1px solid #c4c6cc !important; width: 40% !important; z-index: 0 !important;">
                <h2 style="font-weight: 300 !important; background-color: #fff !important; z-index: 1 !important; padding: 0 1rem !important;">
                    Need Help?</h2>
            </div>
        </div>
        <!-- Contact Cards -->
        <div class="row d-flex justify-content-center align-items-center"
             style="max-width:1540px; margin: 0 auto 2rem auto;">
            <div class="col-lg-12" style="padding: 0rem 3rem 2rem; border-radius: 10px; margin-right: 3rem; ">
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <a href="https://omegasystem.in/" target="_blank" class="btn btn-block mb-2 deep_hover"
                           style="text-decoration: none;  background-color: #4d4d4d; color: #FFF;  border-radius: 4px;"><i
                                class="fa fa-globe mr-2"></i>omegasystem.in</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="https://api.whatsapp.com/send?phone=918866623118" target="_blank"
                           class="btn btn-block mb-2 deep_hover"
                           style="text-decoration: none;  background-color: #4d4d4d; color: #FFF;  border-radius: 4px;">
                            <i class="fa fa-whatsapp mr-2"></i>WhatsApp</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="mailto:omega.corpo@gmail.com" target="_blank" class="btn btn-block deep_hover"
                           style="text-decoration: none; background-color: #4d4d4d; color: #FFF;  border-radius: 4px;">
                            <i class="fa fa-envelope mr-2"></i>omega.corpo@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Contact Cards -->
    </section>
    <!-- Footer -->
    <section class="oe_container" style="padding: 2rem 3rem 1rem; background-color: #fff !important;">
        <div class="row" style="max-width:1540px; margin: 0 auto; margin-right: 3rem; ">
            <!-- Logo -->
            <div class="col-lg-12 d-flex justify-content-center align-items-center" style="margin-top: 3rem;">
                <img src="os.png" width="200px" height="auto"/>
            </div>
            <!-- End of Logo -->
        </div>
    </section>
    <!-- END OF FOOTER -->
</div>